/* General Font Rules */
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    

}
/* Heading Rules */
header {
    text-align: center;
    background-color: rgb(229, 224, 217);

}
/* Nav Bar rules */
nav {
    width: 100%;
    background-color: rgb(232, 248, 248);

}

nav li {
    display: inline;
    padding-left: 8rem;
    padding-right: 8rem;
}
/*  nav bar unvisited link */
nav li a {
    color: black;
    text-decoration: none;
    
}

/* nav bar visited link */
nav li a:visited {
    color: rgb(109, 96, 209);
}

/* nav bar mouse over link */
nav li a:hover {
    color: #ce0e0e;
    border-bottom: .2rem solid;
    border-bottom-color: #ce0e0e;

}

/* selected link */
nav li a:active {
    color: #f0f0f0;
}
body p {
    text-size-adjust: 20rem;

}
.ratesandfees {
    background-color: darkkhaki;
}
/* mobile screens */
body {
    margin: .5rem;
   
}

nav {
    font-size: 2.5rem;
    margin-right: .5em;
}

nav a {
    color: white
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2em;
}

footer {
    display: none;
}

/* screen width 598px or greater */
@media(min-width:598px) {


}

/* screen width 768px or greater */
@media(min-width:768px) {
    

    /* image height */

    html {
        height: 100%;
    }

    main {
        text-shadow: 1px 1px #153c43;
    }

   
}

/* screen width 992px or greater */
@media(min-width:992px) {
   

    nav {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }
}

/* screen width 1200px or greater */
@media(min-width:1200px) {
  
}